{% extends 'base.html.twig' %}

{% block body %}
 <style>
    .product-item {
        height: 350px; /* Set a fixed height for the product items */
        margin-bottom: 150px; /* Add some margin at the bottom of each product item */

    }
</style>

<h3>Top ventes du moment</h3>
<p>Découvrez nos articles les plus vendus du mois dernier</p>
<div class="row">
    {% for product in top_products %}
        <div class="col-md-4">
            <div class="product-item">
                <a href="{{ path('product_show', {slug: product.slug}) }}"><img class="img-fluid" src="/uploads/{{product.image}}" alt="{{product.name}}"></a>
                <h5 class="mt-2">{{ product.name}}</h5>
                <span class="product-subtitle text-center">{{product.subtitle}}</span>
                <span class="product-price text-center">{{(product.price / 100 )|number_format(2,',', '.')}} TND </span>
            </div>
        </div>
    {% endfor %}
</div>


{% endblock %}
